<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">Tech Club</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-dark" style="border-color: white;"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/council">Council</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cTech">cTech SMP</a>
      </li>
      <li>
        <a class="nav-link" href="https://discord.gg/j6mEMqT" target="_blank">Discord</a>
      </li>
    </ul>
  </div>
</nav>
<script type="text/javascript">
  //on load get all link elements on the page and the compare text data within the links with the pageName
  //if the pageName nad text data match then the link tag containinbg the text data will be assigned the "active" class
  window.addEventListener('load', (event) => {
    let links = document.links;
    let pageName = "<%= pageName %>";
    for (let i = 0; i < links.length; i++) {
      let link = links[i];
      let name = link.childNodes[0].data;
      if (name.toLowerCase() == pageName.toLowerCase())
        link.classList.add('active');
    }
  })
</script>
