@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

/*
Constants

primary color: #0085b2
page backgroud color: #3A3A3A
border color: white
navbar color: black
*/
body {
    overflow-x: hidden;
    background-color: #3A3A3A!important;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/*
===================
Sidebar
===================
*/

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 50px);
    background: #0085b2;
    color: white;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #006B8F;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: white;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #0085b2;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #006b8f;
}

li {
  margin-top: 15px;
}

/*
===================
Border
===================
*/

.border-chs {
  border: 2px solid white!important;
  border-top: 2px solid #0085b2!important;
}

.border-outline {
  border: 2px solid #2b2b2b;
  border-radius: 8px;
}
/*
===================
Box
===================
*/

.box {
  padding: 10px;
  color: white;
}

.box-top {
  margin-top: 2%!important;
}

.box-event {
  background-color: #0085B2;
  border-radius: 20px;
}

.box-login {
  border-radius: 10px;
  margin-top: 5%;
}

.box-staff {
  background-color: #2b2b2b;
}

/*
===================
News
===================
*/

.news-title {
  font-size: 3rem;
  text-align: center;
  background-color: #0085b2;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.news-post {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.news-date {
  font-size: 1rem;
}

.news-content {
  font-size: 1.25rem;
}
/*
===================
Events
===================
*/

.event-title {
  font-size: 200%;
  text-align: center;
  width: 75%;
  border-bottom: 2px solid white;
  margin: auto;
}

.event-footer {
  background-color: #2B2B2B;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  padding: 3%;
  margin: auto;
}

.event-buttons {
  padding: 5%;
}

/*
===================
Inputs
===================
*/

.form-control {
  background-color: #2B2B2B!important;
  color: white!important;
  border: 2px solid #707070;
  font-size: 15px;
  border-radius: 15px;
}

/*
===================
cTech
===================
*/

.cTechList {
  list-style-type: none;
  width: 90%;
}

.playerTab {
  font-size: 24px;
  padding: 5px;
}

.playerInfo {
  background-color: gray;
}

.playerInfo:hover {
  background-color: darkgray;
}

.playerLink {
  color: white;
}

.playerLink:hover {
  color: white;
  font-style: normal;
}

/*
===================
Misc
===================
*/

.bg-black {
  color: white; /* for text */
  background-color: black!important;
}

.margin-top-25 {
  margin-top: 25%;
}

.margin-left-25 {
  margin-top: 25%;
}

.welcome {
  font-family: 'Dela Gothic One', cursive;
  font-size: 300%;
}

.staff-image {
  padding: 5%!important;
}

/*
===================
Responsiveness
===================
*/

@media only screen and (max-width: 1024px) {
  .welcome {
    font-family: 'Dela Gothic One', cursive;
    font-size: 300%;
    text-align: center;
  }

  .margin-top-25 {
    margin-top: 5%;
  }

  .news-date {
    display: hidden;
  }

}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

}
