<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% pageName = "About" %>
    <%- include('../partials/header') %>
  </head>
  <body>
    <%- include('../partials/navbar') %>

    <div class="w-75 m-auto box-top shadow rounded">
      <div class="news-title box ">
        About
      </div>
      <div class="news-content border border-chs">
        <div class="box row">

          <div class="col-sm-6 d-flex border-right p-5">
            <img src="/images/tech_club_logo.jpeg" alt="logo" class="mx-auto w-50 rounded border">
          </div>

          <div class="col-sm-6 border-left my-auto">
            <span class="p-5">
              Tech Club is a recently created club devoted to all things tech!
              In-person meetings take place every Friday in the supervisor, Mr Godkin’s, room (205) during both halves of lunch to create a safe place for club members to hang out and play video games.
              Most frequently, we play Mario Kart and Super Smash Bros Ultimate for the Nintendo Switch.
              Tech Club also holds workshop meetings where we teach a variety of skills related to technology, such as web design, digital art, art in tech, and coding.
              Tech Club is always happy to widen its skillset and wants to remain open to people with all types of interests.
              Some of the workshops hosted are heavily technology based, like how certain video games like Minecraft work behind the scenes, and others that are based more around design, such as the workshop series devoted to video game art styles and their impacts.
              We also have a discord server so you can play with club members during online meetings as well!  Join our discord <a href="https://discord.gg/j6mEMqT" target="_blank">here</a>.

            </span>
          </div>

        </div>
      </div>
    </div>
  </body>
  <%- include('../partials/footer') %>
  <%- include('../partials/newsUpdateSocket') %>
</html>
