<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% pageName = "Council" %>
    <%- include('../partials/header') %>
  </head>
  <body>
    <div class="wrapper">
      <%- include('../partials/sidebar') %>
      <div id="content">
        <div class="row box">
          <div class="col-sm-12 col-lg-6 mt-5 mb-5">
            <div class="p-5 border border-chs rounded">
              <img src="/images/Mark.png" alt="Mark" class="d-flex mx-auto w-50 rounded border">
              <h2 class="text-center mt-5 mb-5">Mark Viggiano</h2>
              <div class="border mt-5 mb-5"></div>
              <span class="news-content p-5">
                Hi, my name is Mark Viggiano and I'm a Junior at CHS this year! I am proud to be the President of TechClub and I look forward to working with you all to create
                unique and fun experiences this year! Outside of school I'm a runner, programmer, and gamer. I run Cross-Country and Indoor/Outdoor Track, as for video games, I play:
                Minecraft, League of Legends, Dauntless, and Cities Skylines. I also like to code, I know 8 languages, a ton of frameworks and I'm currently teaching myself C; I wrote this site. (I hope you like it!)
              </span>
            </div>
          </div>

          <div class="col-sm-12 col-lg-6 mt-5 mb-5">
            <div class="p-5 border border-chs rounded">
              <img src="/images/Amanda.png" alt="Amanda" class="d-flex mx-auto w-50 rounded border">
              <h2 class="text-center mt-5 mb-5">Amanda Riordan</h2>
              <div class="border mt-5 mb-5"></div>
              <span class="news-content p-5">
                Amanda Riordan is a current junior at CHS and a Manager of Tech Club.
                She enjoys a variety of video game genres, from adventure games, to RPGs, to psychological horror.
                Some of her favorite video games include the Legend of Zelda: Breath of the Wild and Skyrim.
                Please reach out to her email amriordan@ctemc.org if you need any information about tech club or its related activities!
              </span>
            </div>
          </div>

          <div class="col-sm-12 col-lg-6 mt-5 mb-5">
            <div class="p-5 border border-chs rounded">
              <img src="/images/Quinn.png" alt="Quinn" class="d-flex mx-auto w-50 rounded border">
              <h2 class="text-center mt-5 mb-5">Quinn Bender</h2>
              <div class="border mt-5 mb-5"></div>
              <span class="news-content p-5">
                Hi, my name is Quinn Bender and I'm a Junior at CHS this year and I am a Manager of Tech Club.
                I enjoy playing mmo's and horror games, my favorite game is black desert.
                I speak French fluently and enjoy riding horses, also tea should always be iced and coffee should always be black.
                I am so excited to be a member of the Tech Club Council this year, you can reach me at: qubender@ctemc.org.
              </span>
            </div>
          </div>

          <div class="col-sm-12 col-lg-6 mt-5 mb-5">
            <div class="p-5 border border-chs rounded">
              <img src="/images/Luke.png" alt="Luke" class="d-flex mx-auto w-50 rounded border">
              <h2 class="text-center mt-5 mb-5">Luke Chrzan</h2>
              <div class="border mt-5 mb-5"></div>
              <span class="news-content p-5">
                Hi, I'm Luke Chrzan and I'm a Junior here at CHS.
                This year, I am proud to be your new Event Coordinator.
                Outside of school I love to play hockey and video games such as Mount and Blade: Bannerlord, Rocket League, Minecraft, Hoi4, Space Engineers, and Rust.
                I can't wait get this year started with Tech Club!
              </span>
            </div>
          </div>

          <div class="col-sm-12 col-lg-6 mt-5 mb-5">
            <div class="p-5 border border-chs rounded">
              <img src="/images/Lillian.png" alt="Lillian" class="d-flex mx-auto w-50 rounded border">
              <h2 class="text-center mt-5 mb-5">Lillian Chen</h2>
              <div class="border mt-5 mb-5"></div>
              <span class="news-content p-5">
                Lillian is a junior and is so excited to be your new Public Relations!
                When she’s not at tech club she loves getting involved in activities at CHS and her home school Monmouth Regional.
                You can find her at CHS as an Editor-in-Chief of The Inkblot or a content editor for the Evolution lit mag and at Monmouth Regional as stage manager for the drama program or playing piccolo, flute, and trombone in the marching, pep, and jazz bands.
                She also plays the handbells as a soloist and in a choir at Tower Hill Church.
                Her favorite video games are Kirby: Return to Dreamland, Overcooked 2, and Pixie Hollow (RIP).
                Contact her at lichen@ctemc.org for Post Malone puns or an up-to-date count on the amount of time since Cats (2019) has been released.
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>



  </body>
  <%- include('../partials/footer') %>
  <%- include('../partials/newsUpdateSocket') %>
</html>
