<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% pageName = "cTech SMP" %>
    <%- include('../partials/header') %>
  </head>
  <body>
    <!-- TODO fix this and make it side bar compatible -->

    <div class="w-75 mx-auto box-top shadow rounded mb-5">
      <div class="news-title box ">
        Begninnings
      </div>
      <div class="news-content border border-chs">
        <div class="box row">

          <div class="col-sm-12 my-auto p-5">
            <span class="p-5">
              An entry from the journal of CallMeLuke_:
              <br><br>
              "Five, four, three, two, one. Annihilation."
              <br><br>
              I let go of the dragon egg and let it fall into the small pool of lava sitting in front of me. The whole event felt anti-climatic.
              The entire goal of We Are Anarchy was to burn this egg, and for the entire span of this world's existence, ever since Brazil secured the egg during the initial race, I’ve been expecting a glorious battle of strength and wit to determine the victor.
              However, we walked into Brazil’s base with no opposition. We simply took the egg and walked away. No swords, axes, fireworks, or bows. We completed our mission. Everything seemed to come to a halt. No more scheming, mining, or enchanting. We could retire now.
              I got atop my horse and Mark and I made our way back to the Nether portal we came out of.
              <br><br>
              We were thousands of blocks away from home, it would be a long journey back. As we ran our way through the nether everything was quiet. No ghasts crying out to us. No piglins looking for our gold.
              Even the highly aggressive blazes seemed to be taking a day off. In time we made it to our portal and returned home to our compound. The members of Funky Monkey weren’t around. They were probably in the forests getting more wood and stone for their houses.
              I walked from the small village compound across the plains to my small cabin next to the river. I opened the door and entered a silenced house. Something was wrong. My dogs and cats were missing. Milo wasn’t in his tank. I searched down by the river and in the forest near my house.
              I started wandering around the fields looking for them. I never found them. All the livestock in WAA’s compound had gone missing too. The iron golems had crumbled to tiny bits and pieces. The village was abandoned. I planted a sapling in the middle of the compound and tried using some bonemeal on it.
              It wasn’t growing. Maybe it needs some more time. I decided to then walk over to Mark’s house and tell him the news. Mark proposed we traveled to other bases and check on all our friends. We found no trace of Amanda or Quinn, however, they had been missing for a while now.
              We searched the nearby biomes for any sign of Funky Monkeys. They were never heard from again. Other bases belonging to Port Mafia, Fresh Off The Boat, and TDF were empty. Mark and I even made the 35,000 block journey to Brazil’s base.
              Even though they were our enemies, we felt a great sense of concern when even they were missing. We returned home and did nothing. What was there to do. I tried bonemealing the small sapling a few more times, but the effort was fruitless.
              Two days went by with no signs of life or other humans.
              <br><br>
              I woke up early on the third day. Food was definitely becoming a problem since crops weren’t growing and livestock ceased to exist. I decided to head to my secret hideout in the nearby mountains to see if I had any food stashes left in there.
              I crossed through the spruce forest and started to climb one of the many mountains I’d have to cross over. As I reached the top I stopped for a second to view the landscape. There was one problem, however: there was no landscape.
              About 1000 blocks away from me the world dropped off into a void that kept moving closer and closer. The world was crumbling. I sprinted back to the compound and notified Mark of the danger. We decided to head back to the world spawn. There was nowhere else we could go.
              Mark quickly grabbed his elytra and started climbing the flight tower while I got atop my horse and quickly rode off. We met up at the world spawn. The small beach was quiet. Funky Monkey’s old base was left still abandoned. We both had no idea of what to do.
              Mark decided to keep flying around and see if he could spot anything. While flying around he spotted some kind of structure in the nearby trees. We both walked over to investigate. As we moved closer we could hear the sounds of waves crashing, trees rustling, speaking. We could hear someone.
              We exited the trees into a small clearing. Sitting in front of us was a giant portal-looking structure. Mark searched the area for the speaking, but we both quickly realized the unintelligible words were coming from the portal. We stared into its void. Unlike the end portal, this portal was void of any color.
              No stars or anything. Mark and I stared at each other in silence. We both understood there was only one option. Mark entered the portal first. He disappeared just like that. I hesitated and stared into the portals void. I looked back to the world I was about to leave behind. There was no world left.
              The approaching void was only 300 blocks behind me. I quickly mounted my horse and rode into the portal. My world went black. The place I once knew and cherished dissapeared. I entered a new portal, a new adventure,  a new story,
              <br><br><br>
              A New Dawn.
              <br><br>
              IP: 108.35.196.122:25565
            </span>
          </div>

        </div>
      </div>
    </div>

    <div class="w-75 mx-auto box-top shadow rounded mb-5">
      <div class="news-title box ">
        Server Data
      </div>
      <div class="news-content border border-chs">
        <div class="box row">

          <div class="col-sm-6 d-flex border-right p-5">
            <ul class="cTechList" id="players">

            </ul>
          </div>

          <div class="col-sm-6 border-left my-auto p-5">
            <ul class="cTechList" id="groups">

            </ul>
          </div>

        </div>
      </div>
    </div>

  </body>
  <%- include('../partials/footer') %>
  <%- include('../partials/newsUpdateSocket') %>
  <script src="./js/cTechGeneral.js"></script>
</html>
