<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% pageName = "Events" %>
    <%- include('../partials/header') %>
  </head>
  <body>
    <%- include('../partials/navbar') %>

    <input type="text" id="eventsFilter" placeholder="Search events..." onkeyup="filter()" class="w-50 mx-auto mt-5 form-control p-4 mb-5">

    <div class="row mt-5">
      <div class="col-md-4">
        <div class="mx-auto w-75 border box box-event">
          <div class="event-title">
            1
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mx-auto w-75 border box box-event">
          <div class="event-title">
            2
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mx-auto w-75 border box box-event">
          <div class="event-title">
            3
          </div>
        </div>
      </div>
    </div>

  </body>
  <%- include('../partials/footer') %>
  <script src="./js/events.js"></script>
  <%- include('../partials/newsUpdateSocket') %>
</html>
