<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% pageName = "Events" %>
    <%- include('../partials/header') %>
  </head>
  <body>
    <%- include('../partials/navbar') %>

    <input type="text" id="eventsFilter" placeholder="Search events..." onkeyup="filter()" class="w-50 mx-auto mt-5 form-control p-4 mb-5">

    <div class="row mt-5" id="events">
    </div>

    <!-- The Modal -->
    <div class="modal" id="eventModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="eventModalTitle">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body" id="eventModalBody">
            Modal body..
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </body>
  <%- include('../partials/footer') %>

  <script src="./js/events.js"></script>
  <%- include('../partials/newsUpdateSocket') %>
</html>
