<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% pageName = "Events" %>
    <%- include('../partials/header') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/panel.css">
  </head>
  <body>
    <div class="wrapper">
      <%- include('../partials/panelSidebar') %>
      <!-- Page Content Holder -->
      <div id="content">

          <button class="btn btn-success w-100" data-toggle="modal" data-target="#eventModal">New Event</button>
          <div class="mx-auto border-chs box box-login w-75">
            <h3 class="news-title">Events</h3>
            <hr class="border-white">

            <div class="row mt-5" id="events">
            </div>

          </div>

      </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="eventModal">
      <div class="modal-dialog modal-xxl">
        <div class="modal-content border-0">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">New Event</h4>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form class="p-3" method="post" action="/api/events/createEvent" enctype="multipart/form-data">
              <div class="form-group">
                <label for="exampleInputEmail1">Event Name</label>
                <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" name="event[name]">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea3">About</label>
                <textarea class="form-control" id="exampleFormControlTextarea3" rows="10" name="event[about]"></textarea>
              </div>
              <div class="form-check">
              	<input class="form-check-input" type="checkbox" id="flexCheckDefault" name="event[content]">
                <label class="form-check-label" for="flexCheckDefault">Has Content</label>
              </div>
              <div class="form-group">
                <label for="exampleFormControlFile1">Profile Picture</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file">
              </div>
              <button type="submit" class="btn btn-primary">Create</button>
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            This action is logged!
          </div>

        </div>
      </div>
    </div>


    <!-- The Modal -->
    <div class="modal" id="deleteModal">
      <div class="modal-dialog modal-xxl">
        <div class="modal-content border-0">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="eventModalTitle">Delete Event</h4>
          </div>

          <!-- Modal body -->
          <div class="modal-body" id="eventModalBody">
            <form class="p-3" method="post" action="/api/event/deleteevent">
              <div class="form-group">
                <label for="exampleInputEmail1">Event Id</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter id" name="id">
              </div>
              <button type="submit" class="btn btn-warning">Delete</button>
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            This action is logged!
          </div>

        </div>
      </div>
    </div>

  </body>
  <%- include('../partials/footer') %>
  <script src="/js/events.js"></script>
</html>
