<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% pageName = `Panel || ${name}` %>
    <%- include('../partials/header') %>
  </head>
  <body>

    <div class="container mx-auto border-chs box box-login">
      <%- email %>
    </div>

  </body>
  <%- include('../partials/footer') %>
</html>
